*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Montserrat", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.6; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    .row {
      max-width: 800px;
      margin: 0 auto; } }
  @media screen and (max-width: 50em) {
    .row {
      max-width: 600px;
      margin: 0 auto; } }
  @media screen and (max-width: 700px) {
    .row {
      max-width: 500px;
      margin: 0 auto; } }
  @media screen and (max-width: 600px) {
    .row {
      max-width: 400px;
      margin: 0 auto; } }
  @media screen and (max-width: 500px) {
    .row {
      max-width: 300px;
      margin: 0 auto; } }
  @media screen and (max-width: 400px) {
    .row {
      max-width: 300px;
      margin: 0 auto; } }

.header__menu {
  display: flex;
  align-items: center; }

.header__logo {
  font-size: 3rem;
  color: #3F83C4;
  font-weight: bold;
  position: relative;
  margin-right: 8px; }
  .header__logo::after {
    content: "";
    position: absolute;
    right: -3rem;
    top: 50%;
    background-color: #3F83C4;
    transform: translateY(-50%);
    width: 2px;
    height: 50%; }

.header__nav {
  flex: 1; }

.header__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  background-color: #C4D8F1; }

.header__item {
  flex: 0 0 25%; }
  .header__item:not(:last-child) {
    margin-right: 3rem; }
  .header__item a {
    color: #777;
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s; }
    .header__item a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0%;
      height: 2px;
      background-color: #3F83C4;
      transition: all .2s; }
    .header__item a:hover {
      color: #3F83C4; }
      .header__item a:hover::after {
        width: 100%; }
