*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Ubuntu", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.6; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media screen and (max-width: 1000px) {
    .row {
      max-width: 800px;
      margin: 0 auto; } }
  @media screen and (max-width: 50em) {
    .row {
      max-width: 600px;
      margin: 0 auto; } }
  @media screen and (max-width: 700px) {
    .row {
      max-width: 500px;
      margin: 0 auto; } }
  @media screen and (max-width: 600px) {
    .row {
      max-width: 400px;
      margin: 0 auto; } }
  @media screen and (max-width: 500px) {
    .row {
      max-width: 300px;
      margin: 0 auto; } }
  @media screen and (max-width: 400px) {
    .row {
      max-width: 300px;
      margin: 0 auto; } }

.header {
  height: 100vh; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0; }
  .header__logo {
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    color: #050C16;
    font-weight: bold; }
  .header__nav {
    height: 5vh; }
  .header__items {
    display: flex;
    list-style: none; }
  .header__item:not(:last-child) {
    margin-right: 3rem; }
  .header__item a {
    color: #777;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s; }
    .header__item a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0%;
      height: 2px;
      background-color: #3F83C4;
      transition: all 0.2s; }
    .header__item a:hover {
      color: #3F83C4; }
      .header__item a:hover::after {
        width: 100%; }
  .header__section {
    height: 70vh;
    width: 100%;
    position: relative;
    /* On hover, add a black background color with a little bit see-through */ }
    .header__section .image_1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/1.jpg"); }
    .header__section .image_2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/2.jpg"); }
    .header__section .image_3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/3.jpg"); }
    .header__section .mySlides {
      display: none;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .header__section .mySlides__container {
        height: 100%;
        display: flex;
        align-items: center; }
        .header__section .mySlides__container .text {
          font-size: 3.5rem;
          color: white;
          text-transform: uppercase;
          letter-spacing: 0.5rem; }
    .header__section .prev,
    .header__section .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none; }
    .header__section .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .header__section .prev:hover,
    .header__section .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .header__section .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
  .header__icon {
    margin-top: 4rem; }
    .header__icon ul {
      list-style: none;
      display: flex;
      justify-content: space-around; }
      .header__icon ul li i {
        font-size: 8rem;
        color: #3F83C4; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

.btn {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: .5rem 1.5rem;
  background-color: transparent;
  color: #3F83C4;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #3F83C4;
  cursor: pointer;
  transition: all .5s; }
  .btn:hover {
    color: white;
    background-color: #3F83C4; }
