.btn {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  border-radius: 10rem;
  padding: 1rem 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  // display: block;
  text-decoration: none;
  transition: all 0.5s;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  &__home {
   
    color: $color-primary;
    border: 1px solid $color-primary;
    position: relative;
    margin-right: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      border-radius: 10rem;

      z-index: -1;
      width: 5%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // border: 2px solid $color-primary;
      background-color: $color-primary;
      transition: all 0.5s;
    }
    &:hover {
      color: $color-white;
      &::before {
        width: 100%;
      }
      // color: $color-white;
      // background-color: $color-primary;
      // border-color: red;
    }
  }

  &__contact {
    &:hover {
      // color: $color-white;
      // background-color: $color-primary;
      // border-color: red;
    }
  }

  &__info {
    color: $color-white;
    border: 1px solid $color-grey-dark;
    position: relative;
    margin-right: 1.5rem;
    &::before {
      content: "";
      position: absolute;
      border-radius: 10rem;

      z-index: -1;
      width: 5%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // border: 2px solid $color-primary;
      background-color: $color-grey-dark;
      transition: all 0.5s;
    }
    &:hover {
      color: $color-white;
      &::before {
        width: 100%;
      }
      // color: $color-white;
      // background-color: $color-primary;
      // border-color: red;
    }
  }

}
