.header {
    &__menu {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 3rem;
        color: $color-primary;
        font-weight: bold;
        position: relative;
        margin-right: 8px;

        &::after {
            content: "";
            position: absolute;
            right: -3rem;
            top: 50%;
            background-color: $color-primary;
            transform: translateY(-50%);
            width: 2px;
            height: 50%;
        }

    }

    &__nav {
        // margin: 0 auto;
        flex: 1;
        nav {

        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        background-color: $color-primary-light;

    }
    &__item {
        flex: 0 0 25%;
        &:not(:last-child){
            margin-right: 3rem;
        }

        & a {
            color: $color-grey-dark;
            position: relative;
            font-size: 1.8rem;
            font-weight: 600;
            // padding: .5rem;
            text-decoration: none;
            transition: all .2s;
            

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -4px;
                width: 0%;
                height: 2px;
                background-color:$color-primary;
                transition: all .2s;
            }
            &:hover {
                color: $color-primary;
                
                &::after {
                    width: 100%;
                }
            }
        }
    }

}